Problem Set 1: Variables, Data Types, and I/O

Section 1.1: Variable Naming and Assignment
1. Create a variable named product_price and assign it the value 49.99. What is the data type of this variable?
2. Create a variable named is_active_user and set its value to True. What is its data type?
3. Assign the string 'Hello, World!' to a variable. Print the variable.
4. Assign the integer 100 to a variable named score. Re-assign the variable to a new value 120. What is the value of score now?
5. Create three variables a, b, and c and assign them the values 10, 20, and 30 in a single line.

In [ ]:
product_price =49.99
print(type(product_price))

<class 'float'>

In [ ]:
is_active_user = True
print(type(is_active_user))

<class 'bool'>

In [ ]:
test = "Hello, World!"
print(test)

Hello, World!

In [ ]:
score = 100
print(f"{score} before modification")
score = 120
print(f"{score} after modification")

100 before modification
120 after modification

In [ ]:
a,b,c = 10, 20, 30
print(f"value of a is {a}, value of b is {b}, value of c is {c}")

value of a is 10, value of b is 20, value of c is 30

Section 1.2: Built-in Functions

1. What is the purpose of the id() function? Write a simple example that demonstrates its use.
2. Use the type() function to determine the data type of the string '500' and the integer 500.
3. Use the print() function to display the string "Python is fun!".
4. Use the print() function with the sep parameter to print the words 'Hello', 'Python', and 'World' separated by a hyphen.
5. Use the print() function with the end parameter to print the string 'This is the first sentence.' without a newline, followed immediately by 'This is the second sentence.' on the same line.
6. Use the int() function to convert the string "123" into an integer. Store the result in a new variable.
7. Use the float() function to convert the integer 99 into a floating-point number.
8. Use the str() function to convert the integer 1000 and the float 3.14 into strings.

In [ ]:
arr = 1
print(id(arr))

11642088

In [ ]:
string1 = '500'
integer = 500
print(type(string1))
print(type(integer))

<class 'str'>
<class 'int'>

In [ ]:
print("Python is fun!")

Python is fun!

In [ ]:
print("Hello","Python","World", sep = "-")

Hello-Python-World

In [ ]:
print("This is the first sentence.", end=" ")
print("This is the second sentence.")

This is the first sentence. This is the second sentence.

In [ ]:
a ="123"
print(f"a is ", type(a))
b=int(a)
print(f"b is ", type(b))

a is  <class 'str'>
b is  <class 'int'>

In [ ]:
num= 99
print(float(num))

99.0

In [ ]:
integer_1 = 1000
float_1 =3.14
x = str(integer_1)
y = str(float_1)
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

# Problem Set 2: Control Flow and Logic

Section 2.1: Conditional Statements (if/elif/else)

1. Write a script that checks if a variable named temperature is greater than 30. If it is, print "It's hot outside."
2. Create a variable grade with a value of 85. Use an if/elif/else statement to print the letter grade based on the following rules: A (90+), B (80-89), C (70-79), D (60-69), F (below 60).
3. Write a program that takes an integer number. If the number is even, print "Even.". Otherwise, print "Odd.".
4. Create two variables, x and y, with values 10 and 20. Write an if statement that checks if x is less than y AND if x is greater than 5. If both are true, print "Condition met."
5. Write a program that checks if a user's entered password is at least 8 characters long. If it is, print "Password is valid." Otherwise, print "Password is too short."

In [ ]:
temperature = int(input("Enter the temperature in degrees:"))
if temperature > 30:
  print("It's hot outside")

Enter the temperature:40
It's hot outside

In [ ]:
grade = 85
if grade >= 90:
  print("grade A")
if grade in range(80,90):
  print("grade B")
if grade in range(70,80):
  print("grade C")
if grade in range(60,70):
  print("grade D")
elif grade < 60:
  print("grade F")

grade B

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
  print("even")
else:
  print("odd")

Enter a number: 66
even

In [ ]:
x = 10
y = 20
if x < y and x > 5 :
  print("Condition met")

Condition met

In [ ]:
password = input("Enter password: ")
count = 0
for i in password:
  count += 1

print(count)
if count >= 8 :
  print("password is valid")
else:
  print("password is too short")

Enter password: 888888888
9
password is valid

using in-built string functions:

In [ ]:
password = input("Enter password: ")
if len(password) >= 8 :
  print("password is valid")
else:
  print("password is too short")

Enter password: 123456789
password is valid

# Section 2.2: Loops (for and while)

1. Use a for loop to iterate through the list ['apple', 'banana', 'cherry'] and print each fruit name.
2. Use a for loop and the range() function to print all numbers from 1 to 10 (inclusive).
3. Create a list of numbers from 1 to 5. Use a for loop to calculate and print the sum of all numbers in the list.
4. Use a while loop to print the numbers from 10 down to 1.
5. Write a while loop that continues to prompt the user to enter a number until they enter 0.
6. Use a for loop to iterate through the string "Python" and print each character.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

using list comprehension:

In [ ]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_of_numbers = list(range(1, 6))
sum = 0
for num in list_of_numbers:
  sum += num
print(sum)

15

In [ ]:
num = 10
while num >= 0:
  print(num)
  num -=1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
num = int(input("enter a number:"))
while num:
  if num != 0:
    num = int(input("enter a number: "))
    if num == 0:
      break

enter a number:5
enter a number: 5
enter a number: 6
enter a number: 0

In [ ]:
for i in 'Python':
  print(i)

P
y
t
h
o
n